.NoteItem {
    &__innerFlexContainer {
        display: flex;
        align-items: baseline;
        justify-content: space-between;

        width: 100%;
        margin-bottom: 5px;
    }

    &__textWrapper {
        font-weight: 500;
    }

    &__link {
        text-decoration: none;
        color: inherit;
    }

}